* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
    line-height: 1.8;
}

body {
    background-color: rgb(10, 10, 10) ;
    color: white;
}

::selection {
    background-color: grey;
}
::-moz-selection {
    background-color: grey;
}