* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
    line-height: 1.8;
    
}



::selection {
    background-color: grey;
}
::-moz-selection {
    background-color: grey;
}

body{
    transition: background-color 0.4s ease ;
}