#TextAreaContainer {
  max-width: 950px;
  margin: 80px auto 0;
  padding: 0 24px;

  height: calc(100vh - 80px - 60px);
  /* substract bottom navbar height */

  display: flex;
  flex-direction: column;

  /* /* border-left: 2px solid grey; */

  border-right: 2px dotted grey; 


}

#HeadingTextArea {
  width: 100%;
  background: transparent;
  border:none;
  outline: none;

  color: white;
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  margin-bottom: 6%;
}

#ParagraphTextArea {
  flex: 100;

  width: 100%;

  background: transparent;
  border: none;
  outline: none;
  resize: none;
  min-height: 0;


  
  
  color: white;
  font-size: 30px;
}
