.NavBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  
  
  padding: 0 99px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;


}



