.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;

  padding: 0 99px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  border-top: 1px solid rgb(48 48 48);
  color: grey;
}

.leftNavBar {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.rightNavBar {
  display: flex;
  /* gap: 1px; */
  justify-content: center;
  align-items: center;
}

.navBarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;

  width: 36px;
  height: 36px;

  border: none;
  background: transparent;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.2s ease;
}
.navBarStaticIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;

  width: 36px;
  height: 36px;

  border: none;
  background: transparent;
  border-radius: 8px;

}

.navBarButton:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
